<mat-card>
  <mat-card-title>New Service</mat-card-title>

  <form>

    <mat-form-field>
      <input matInput placeholder="Descrição" name="descricao" [(ngModel)]="servico.descricao">
    </mat-form-field>
    <small  class="form-text text-muted">Examples: Simple cut, Degradê cut, Beard ...</small>

    <mat-form-field>
      <input matInput placeholder="Preço (R$)"  name="price" type="number" class="example-right-align" [(ngModel)]="servico.preco">
    </mat-form-field>
    <small  class="form-text text-muted">Examples: 10.00, 15.00, 20.00 ...</small>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Duração/Minutos</mat-label>
      <mat-select  [(ngModel)]="servico.duracao" name="duracao">
        <mat-option *ngFor="let item of duracoes;" [value]="item.duracao">{{item.duracao}}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>

  <button mat-raised-button color="primary" (click)="createService()">
    Save
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancel
  </button>

</mat-card>
